body {
  height: 100vh;
  margin: 0;
}
.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.section-1,
.section-2,
footer {
  flex: flex 2;
  width: 100%;
}
.section-3 {
  flex: flex 1;
  width: 100%;
}
nav.nav-items {
  padding-block: 4%;
  padding-inline: 4%;
  display: flex;
  justify-content: space-between;
}
nav.nav-items > .logo {
  width: 30%;
  height: 30%;
}
ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-block: 0;
  padding-inline-start: 0;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.image {
  display: flex;
}
.section-1-illustration,
.section-2-illustration {
  width: 70%;
  margin: auto;
  padding-block: 10%;
}
.text-section-1,
.text-section-2,
.text-section-3 {
  padding-inline: 4%;
  padding-block-end: 5%;
}
.text-section-1 > .content-section-1 > .heading,
.text-section-2 > .heading,
.text-section-3 > .heading {
  text-align: center;
  margin-block-end: 0;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
}
.text-section-1 .desc,
.text-section-3 .desc {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.input-fields {
  padding-inline: 3%;
}
.email,
button.get-started {
  width: 100%;
}
.email {
  box-sizing: border-box;
  padding: 3%;
  border: none;
}
.email.placehoder {
  font-size: 16px;
  color: hsl(0, 0%, 75%);
}
.get-started {
  padding-inline: 0;
  padding-block: 4%;
  margin-block-start: 0;
  margin-block-end: 5%;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 500;
  background-color: hsl(224, 93%, 58%);
  border: none;
  border-radius: 4px;
  color: white;
}
.top {
  background-repeat: no-repeat;
  width: 100%;
}
.section-2 .desc-1,
.desc-2 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.section-2 {
  background-color: #f8f8fe;
}
.text-section-2 p.desc-2 {
  margin-block-start: 0;
}
a.how-fylo-works {
  display: flex;
  justify-content: center;
  align-items: center;
  color: green;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.review-box {
  padding-inline: 10%;
}
.review {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 6%;
  margin-block-start: 10%;
  margin-block-end: 20%;
  background-color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.profile-picture {
  width: 35px;
  height: 35px;
  border-radius: 100%;
}
.authorization {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4%;
}
.authorization p {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 600;
}
.authorization .name > span {
  display: block;
  text-wrap: nowrap;
  line-height: 22px;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.section-3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: hsl(238, 22%, 44%);
  padding-block-start: 10%;
  padding-block-end: 20%;
  color: white;
}
.section-3 .input-fields {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-3 .input-fields > .email-section-3 {
  width: 100%;
  box-sizing: border-box;
  padding: 3%;
  border: none;
}
.section-3 .input-fields button {
  width: 100%;
  padding-inline: 0;
  padding-block: 4%;
  margin-block: 3%;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 500;
  background-color: hsl(224, 93%, 58%);
  border: none;
  border-radius: 4px;
  color: white;
}
footer {
  background-color: hsl(243, 87%, 12%);
  color: white;
  width: 100%;
  padding-inline: 8%;
  padding-block: 12%;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
footer.section-4 > .logo-footer {
  margin-block-end: 12%;
}
footer.section-4 ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.extra-links > ul {
  margin-block-start: 8%;
}
.phone,
.email {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 6%;
}
.email {
  margin-block-start: 0;
  margin-block-end: 8%;
  padding-inline-start: 0;
}
.phone {
  margin-block-end: 1%;
  margin-block-start: 0;
}
.icon {
  color: white;
}
footer .socials {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-block-start: 20%;
  margin-block-end: 5%;
  padding-inline: 0;
}
.background {
  width: 27px;
  height: 27px;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}
@media only screen and (min-width: 1240px) {
  nav.nav-items {
    padding-block: 4%;
    padding-inline: 4%;
    display: flex;
    justify-content: space-between;
  }
  .section-1 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    flex: flex 2;
  }
  .section-1-illustration,
  .section-2-illustration {
    width: 90%;
  }
  .text-section-1 > .content-section-1,
  .text-section-2 > .content-section-2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .text-section-1 > .content-section-1 .desc {
    text-align: left;
  }
  .text-section-1 > .content-section-1 > .heading {
    text-align: left;
  }
  .input-fields {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-block-start: 5%;
    gap: 10px;
  }
  .get-started {
    padding-inline: 0;
    padding-block: 2%;
    margin-block-start: 0;
    margin-block-end: 4%;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 500;
    background-color: hsl(224, 93%, 58%);
    border: none;
    border-radius: 4px;
    color: white;
  }
  .email {
    height: 20px;
  }
  .section-2 {
    display: flex;
    flex-direction: row-reverse;
  }
  .text-section-2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .review-box {
    padding-inline-start: 0;
  }
  .section-3 {
    padding: 2%;
  }
  .section-3 > .text-section-3 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 15%;
  }
  .section-3 > .text-section-3 > .heading {
    text-align: left;
  }
  .section-3 > .text-section-3 .desc {
    text-align: left;
  }
  .section-3 .inputfields {
    width: 50%;
  }
  footer {
    padding-block: 2%;
    padding-inline: 2%;
  }
  footer.section-4 > .logo-footer {
    margin-block-end: 2%;
  }
  /* .contact {
    display: flex;
    flex-direction: column;
    gap: 0;
  } */
  .phone,
  .email {
    display: flex;
    gap: 0.5%;
    margin: 0;
  }
  .content-footer {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: 2%;
    padding: 0;
  }
  .socials {
    align-items: flex-start;
  }
}
